[submodule "InnoShop.ProductService"]
	path = InnoShop.ProductService
	url = https://github.com/Nikitf777/InnoShop.ProductService.git
[submodule "InnoShop.UserService"]
	path = InnoShop.UserService
	url = https://github.com/Nikitf777/InnoShop.UserService.git
[submodule "innoshop-website-rs"]
	path = innoshop-website-rs
	url = https://github.com/Nikitf777/innoshop-website-rs.git
[submodule "InnoShop.CommonEnvironment"]
	path = InnoShop.CommonEnvironment
	url = https://github.com/Nikitf777/InnoShop.CommonEnvironment.git
