services:
    &users_db_name users_db:
        image: docker.io/postgres:18-alpine
        restart: no
        environment:
            POSTGRES_DB: *users_db_name
            POSTGRES_USER: ${USER_SERVICE_DB_USER}
            POSTGRES_PASSWORD: ${USER_SERVICE_DB_PASSWORD}
        ports:
            - 5000:${DB_PORT}
        networks:
            - user_network
        healthcheck:
            test: &postgres_test ["CMD-SHELL", "pg_isready"]
            interval: 1s
            timeout: 3s
            retries: 5
            start_period: 1s

    user_service:
        build: InnoShop.UserService/
        restart: no
        ports:
            - 8000:8080
        networks:
            - user_network
        environment:
            DB_HOST: *users_db_name
            DB_PORT: ${DB_PORT}
            DB_NAME: ${USER_SERVICE_DB_NAME}
            DB_USER: ${USER_SERVICE_DB_USER}
            DB_PASSWORD: ${USER_SERVICE_DB_PASSWORD}
            JWT_SECRET_KEY: ${JWT_SECRET_KEY}
            JWT_KEY_ISSUER: ${JWT_KEY_ISSUER}
            JWT_KEY_AUDIENCE: ${JWT_KEY_AUDIENCE}
        depends_on:
            users_db:
                condition: service_healthy

    &products_db_name products_db:
        image: docker.io/postgres:18-alpine
        restart: no
        environment:
            POSTGRES_DB: *products_db_name
            POSTGRES_USER: ${PRODUCT_SERVICE_DB_USER}
            POSTGRES_PASSWORD: ${PRODUCT_SERVICE_DB_PASSWORD}
        ports:
            - 5050:${DB_PORT}
        networks:
            - product_network
        healthcheck:
            test: *postgres_test
            interval: 1s
            timeout: 3s
            retries: 5
            start_period: 1s

    product_service:
        build: InnoShop.ProductService/
        restart: no
        ports:
            - 8080:8080
        networks:
            - product_network
        environment:
            DB_HOST: *products_db_name
            DB_PORT: ${DB_PORT}
            DB_NAME: ${PRODUCT_SERVICE_DB_NAME}
            DB_USER: ${PRODUCT_SERVICE_DB_USER}
            DB_PASSWORD: ${PRODUCT_SERVICE_DB_PASSWORD}
            JWT_SECRET_KEY: ${JWT_SECRET_KEY}
            JWT_KEY_ISSUER: ${JWT_KEY_ISSUER}
            JWT_KEY_AUDIENCE: ${JWT_KEY_AUDIENCE}
        depends_on:
            products_db:
                condition: service_healthy

networks:
    user_network:
        driver: bridge
    product_network:
        driver: bridge
