services:
    users_db:
        image: docker.io/postgres:18-alpine
        restart: always
        environment:
            POSTGRES_DB: ${USER_SERVICE_DB_NAME}
            POSTGRES_USER: ${USER_SERVICE_DB_USER}
            POSTGRES_PASSWORD: ${USER_SERVICE_DB_PASSWORD}
        ports:
            - 5000:5432
        networks:
            - user_network

    user_service:
        build: InnoShop.UserService/
        ports:
            - 8000:8080
        networks:
            - user_network
        environment:
            DB_HOST: ${USER_SERVICE_DB_HOST}
            DB_PORT: ${USER_SERVICE_DB_PORT}
            DB_NAME: ${USER_SERVICE_DB_NAME}
            DB_USER: ${USER_SERVICE_DB_USER}
            DB_PASSWORD: ${USER_SERVICE_DB_PASSWORD}
            JWT_SECRET_KEY: ${JWT_SECRET_KEY}
            JWT_KEY_ISSUER: ${JWT_KEY_ISSUER}
            JWT_KEY_AUDIENCE: ${JWT_KEY_AUDIENCE}

    products_db:
        image: docker.io/postgres:18-alpine
        restart: always
        environment:
            POSTGRES_DB: ${PRODUCT_SERVICE_DB_NAME}
            POSTGRES_USER: ${PRODUCT_SERVICE_DB_USER}
            POSTGRES_PASSWORD: ${PRODUCT_SERVICE_DB_PASSWORD}
        ports:
            - 5050:5432
        networks:
            - product_network

    product_service:
        build: InnoShop.ProductService/
        ports:
            - 8080:8080
        networks:
            - product_network
        environment:
            DB_HOST: ${PRODUCT_SERVICE_DB_HOST}
            DB_PORT: ${PRODUCT_SERVICE_DB_PORT}
            DB_NAME: ${PRODUCT_SERVICE_DB_NAME}
            DB_USER: ${PRODUCT_SERVICE_DB_USER}
            DB_PASSWORD: ${PRODUCT_SERVICE_DB_PASSWORD}
            JWT_SECRET_KEY: ${JWT_SECRET_KEY}
            JWT_KEY_ISSUER: ${JWT_KEY_ISSUER}
            JWT_KEY_AUDIENCE: ${JWT_KEY_AUDIENCE}

networks:
    user_network:
        driver: bridge
    product_network:
        driver: bridge
